:root{
    --pewt: #91ADC2;
    --salm: #F03A47;
}
body{margin:0;background-color:var(--pewt);}
.navbar{
    background-color: #3A4454;
    overflow:hidden;
}
#loginbutton{
    float: left;
    color: var(--salm);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Varela Round', sans-serif;
    background:none;
    border:none;

}
.header{
    padding: 150px;
    text-align: center;
    background: var(--pewt);
    width: 100%;
    height:100%;
    margin: auto;
    padding-left: 0px;
    padding-right:0px;
    background-image:url(FoodBackground.png);
    
}

.tile{
    background-color:#ECDCB0;
    flex-direction: column;
    text-align: center;
    border-radius: 15px;
    width: 200px;
    height:auto;
    display:flex;
    box-shadow: 5px 5px 5px #39393A;
    
}
.tile img{
    max-width: 100%;
    max-height:100%;
    padding-left:10px;
    padding-right:10px;
    border-radius:25px;
}
#recipeContainer{
    display:none;
    flex-direction: row;
    justify-content: space-around;
    width:80%;
    padding-top: 40px;
    background-color: #f8edeb;
    border-radius: 50px;
    margin-left:auto;
    margin-right:auto;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top:10px;
    
    
}

.input{
    align-content: center;
    text-align: center;
    display:flex;
    flex-direction: column;
    font-size: 40px;
}

#srchIng{
    height:40px;
    width:75%;
    border-radius: 20px;
    font-size: 20px;
    text-align:center;
}

#submit{
    background-color:#F03A47;
    color: #000;
    border:0;
    font-family: 'Lexend', sans-serif;
    font-size:25px;
    margin-top:20px;
    border-radius:10px;
}
#lbl{
    font-family: 'Lexend', sans-serif;
    font-size: 20px;
    color:#ece4db;
}
.foodLink{
    text-decoration: none;
    font-family: 'Abel', sans-serif;
    color:var(--salm);
    font-size:20px;
    margin-bottom: 15px;
}
.foodLink:visited{
    color:var(--salm);
}
#desc{
    text-align: left;
    color:var(--salm);;
    font-family: 'Abel', sans-serif;
    font-size:15;
    margin-top: 0px;
    margin-bottom:0px;
    padding-left: 5px;
}
.signIn-popup {
    display: none;
    position:absolute;
    z-index: 9;
    background-color:#ECDCB0;
    font-family: 'Lexend', sans-serif;
    justify-content: center;
    border-radius: 20px;
  }
.signIn-container input[type=text], .signIn-container input[type=password] {
    width: 30%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    
  }
.signIn-container input[type=text]:focus, .signIn-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
    
  }
.signIn-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 50%;
    align-items: center;
    margin-bottom:10px;
    opacity: 0.8;
    border-radius: 20px;
    font-family: 'Abel', sans-serif;
    
  }
  
  /* Add a red background color to the cancel button */
.signIn-container .cancel {
    background-color: var(--salm);
  }
.signIn-container .register {
    background-color: #4B3F72;
  }
  
  /* Add some hover effects to buttons */
.signIn-container .btn:hover, .open-button:hover {
    opacity: 1;
  }


h1{
    font-family: 'Varela Round', sans-serif;
    font-size: 50px;
    color:var(--salm);
}


h2{
    font-family: 'Lexend', sans-serif;
    max-width: 100%;
    max-height:10%;
}

